<!DOCTYPE html>
<html>
  <head>
    <title>DropzoneJs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    -# I'm loading dropzone css here as a muppet. Feel free to place it to sprocket asset folder or use content_for tag
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
